:root {
    /* Fonts below */
    --header-font: 'Rubik Mono One', sans-serif;
    --font: 'Rubik', sans-serif;
    /* Colors below */
    --black: #222222;
}

body {
    color: var(--black);
}



/* Default stylig of h1 headers */
h1 {
    font-family: var(--header-font);
    font-size: 40px;
    display: block;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: var(--font); 
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-transform: uppercase;
}

p {
    font-family: var(--font);
}

/* Default styling of the header */
header {
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--black);
}

/* Default styling for buttons */
button {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-family: var(--font);
    font-size: 13px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 100ms ease-in-out;
}

/* Styling of the buton inside the header */
header button {
    margin: auto;
    position: relative;
    top: 25px;
}

/* Hover effect when hovering over header button */
header button:hover {
    background-color: white;
    box-shadow: 5px 5px var(--black);
}

header button:active {
    font-size: 10px;
}

main {
    height: 500px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template: 100% / 3fr 2fr;
    column-gap: 50px;
    row-gap: 50px;
}

main section article {
    background-color: whitesmoke;
    border-radius: 10px;
}

.main-menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.game-menu {
    display: grid;
    grid-template: 2fr 4fr 1fr / 100%;
}

.score {
    display: grid;
    grid-template: 100% / 1fr 1fr;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    width: 85%;
    height: 55%;
    margin: auto;
}

.timer {
    background-color: white;
}

.reset {
    margin: auto;
    background-color: white;
    position: relative;
    bottom: 5px;
}

.reset:hover {
    box-shadow: 5px 5px var(--black);
}

.reset:active {
    font-size: 10px;
}
/* Below are media qeuries */

@media screen and (max-width: 1100px) {
    main {
        height: 1000px;
    }

 main section {
    grid-template: 1fr 1fr / 100%;
 }
}

@media screen and (max-width: 570px) {
    h1 {
        font-size: 6vw;
    }

    button {
        padding: 10px 10vw;
    }
}